@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 10px;
}

nav a {
    color: #E5E7EB;
}

section {
    display: flex;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    color: white;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #3882f6;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #0950c3;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    width: 800px;
}

.logo {
    font-size: 24px;
}

.container {
    display: flex;
    margin: auto;
    gap: 50px;
    padding: 140px;
}

.placeholder-big {
    background-color: #6D747D;
    width: 500px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.flex-columns {
    display: flex;
    flex-direction: column;
}

.illustration-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.illustration-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.information {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 20px;
}

.illustration {
    color: #4B5563;
}

.illustration-ph {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 4px solid #3882f6;
}

.call-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
}

.call-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.call {
    height: 150px;
    width: 800px;

}

.callbtn {
    border: 2px solid white;
}
